asgiref==3.7.2
beautifulsoup4==4.12.2
distlib==0.3.7
Django==4.2.5
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
filelock==3.12.4
lxml==4.9.3
numpy==1.25.2
opencv-contrib-python-headless==4.8.0.74
opencv-python==4.6.0.66
Pillow==10.1.0
platformdirs==3.10.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.5
