{% include "partials/head.html" %}

<body>
    {% if user.is_authenticated %}
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a class="main-logo" href="/">
                    <i class="fas fa-thin fa-laptop"></i>
                    <span class="main-logo-text">Smart Tech</span>
                </a>
            </h1>
        </div>
    </header>
    <div class="align-center">
        <div class="main-logo">
            <button class="button-style">
            <a class="m-15 a-style" href="addfornecedor">
                <i class="fas fa-address-book"></i>
                <span>Cadastro de Fornecedores</span>
            </a>
            </button>
        </div>
        <div class="main-logo">
            <button class="button-style">
            <a class="m-15 a-style" href="produtos/adicionar">
                <i class="fas fa-address-book"></i>
                <span>Cadastro de Produtos</span>
            </a>
            </button>
        </div>
        <div class="main-logo">
            <button class="button-style">
            <a class="m-15 a-style" href="fornecedores">
                <i class="fas fa-address-book"></i>
                <span>Lista de Fornecedores</span>
            </a>
        </button>
        </div>
        <div class="main-logo">
            <button class="button-style">
            <a class="m-15 a-style" href="produtos">
                <i class="fas fa-address-book"></i>
                <span>Lista de Produtos</span>
            </a>
        </button>
        </div>
    </div>
    {% else %}
    <p>You are not logged in</p>
    <a class="login_link" href="{% url 'login' %}">Log In</a>
  {% endif %}
</body>
</html>