:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    display: table;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    width: 100%;
    display: table-cell;
    overflow: auto;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
    height: 100% !important;
}

.main-header-container {
    background: var(--color-primary-dark);
}

.main-logo {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    margin: 0 auto;
    gap: 10px;
}

.main-logo-icon {
    margin-right: 2rem;
}

.align-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.button-style {
    padding: 10px;
    background-color: #13141f;
    border-radius: 10px;
    border-color: #13141f;
    margin: 15px;
}

.a-style {
    color: #fff;
    font-size: x-large;
    list-style: arabic-indic;
    text-decoration: none;
}

.form-style {
    background-color: #212529;
    border-radius: 10px;
    padding: 20px;
}

.style-options {
    margin-top: 20px;
    gap: 3em;
}

.style-label {
    color: #fff;
}

.style-btn {
    height: 40px !important;
    width: 100px !important;
    font-size: 1.5rem;
    font-family: sans-serif;
}

input {
    height: 30px !important;
    font-size: 1em !important;
    padding-left: 5px;
}

textarea {
    font-size: 1em !important;
    height: 110px;
}

select {
    height: 35px !important;
    font-size: 1em !important;
}

.p-0 {
    padding: 0px !important;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-30 {
    padding-right: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.m-15 {
    margin: 15px;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.hidden {
    display: none !important;
}

.fz-medium {
    font-size: medium;
}

.gap-05 {
    gap: 0.5em;
}

.gap-1 {
    gap: 1em !important;
}

table {
    margin: auto;
    padding: 20px;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    padding: 10px !important;
}

td {
    padding: 10px !important;
    word-break: break-all;
    max-width: 250px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr:last-child th:last-child {
    padding-left: 35px !important;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.titulo {
    color: #fff;
    font-family: sans-serif;
    font-weight: bolder;
}

.style-titulo-produtos {
    background-color: #212529;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}