{% include "partials/head.html" %}

<body>
    {% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="col-12 row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                <form class="col-9 row g-3 form-style" action="{% url 'adicionar_produto' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12 d-flex align-items-center justify-content-center pr-10">
                        <h1 class="titulo">Adicionar Produto</h1>
                    </div>
                    <div class="col-7 d-flex align-items-center flex-column pr-10">
                        <div class="col-12">
                            <label for="{{ form.nome.id_for_label }}" class="form-label style-label mt-4">Nome</label>
                            {{ form.nome }}
                        </div>
                        <div class="col-12">
                            <label for="{{ form.descricao.id_for_label }}" class="form-label style-label mt-4">Descrição</label>
                            {{ form.descricao }}
                        </div>
                        <div class="col-12">
                            <label for="{{ form.fornecedor.id_for_label }}" class="form-label style-label mt-4">Fornecedor</label>
                            {{ form.fornecedor }}
                        </div>
                    </div>
                    <div class="col-5 d-flex align-items-center flex-column">
                        <div class="col-12">
                            <label for="{{ form.preco.id_for_label }}" class="form-label style-label mt-4">Preço</label>
                            {{ form.preco }}
                        </div>
                        <div class="col-12">
                            <label for="{{ form.quantidade.id_for_label }}" class="form-label style-label mt-4">Quantidade estoque</label>
                           {{ form.quantidade }}
                        </div>
                        <div class="col-12">
                            <label for="{{ form.imagem.id_for_label }}" class="form-label style-label mt-4">Selecione a imagem</label>
                           {{ form.imagem }}
                        </div>
                    </div>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="d-flex align-items-center justify-content-center style-options">
                            <button type="submit" class="btn btn-success style-btn">Salvar
                        </div>
                        <div class="d-flex align-items-center justify-content-center style-options">
                            <a href="{% url 'produtos' %}">
                                <button class="btn btn-danger style-btn">Cancelar
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>